body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: beige;
}

.hide {
  display: none,
}

.quote {
  display: block;
  text-shadow: 1px 1px rgba(23, 22, 22, 0.967), 0px 0px 3px rgba(125, 248, 108, 0.561);
  font-weight: bold;
  letter-spacing: .08rem;
  color: rgba(221, 221, 192, 0.931);
  font-size: large;
  margin-top: 15vh;
  background-color: rgba(8, 8, 8, 0.324);
}

.quote:hover+.author {
  display: block
}

.author {
  display: none;
  text-shadow: 1px 1px rgb(15, 14, 14);
  font-weight: bolder;
  letter-spacing: .1rem;
  color: rgb(233, 20, 20)
}

.clock {
  background-color: rgba(245, 245, 220, 0.527);
  width: 20vh;
  max-height: 10vh;
  text-align: center;
  font-size: large;

}

.temp {
  background-color: rgba(8, 8, 8, 0.599);
  text-shadow: 1px 1px rgb(19, 18, 18);
}

ul {
  list-style-type: none;
}